.login-container{
  width: 40vw;
  height: 50vh;
  min-width: 250px;
  min-height: 500px;
  margin:auto;
  position: absolute;
 top: 50%;
 left: 0;
 right: 0;
 -webkit-transform: translateY(-52%);
 -ms-transform: translateY(-52%);
 transform: translateY(-52%);
}
.login-container .mat-card{
  /*height: 100%;*/
}
.login-header{
  background-color: lightblue;
  width: 100%;
  height: 100px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}
.login-content{
  margin-top: 100px;
}
.login-form-field{
  display: block;
  margin:30px auto;
}
.full-btn{
  width: 100%;
  margin:30px auto;
}
