
.ui-card {
  margin:15px;
  max-width: 250px;
  min-width: 200px;
  min-height: 100px;
  flex: 1;
  position: relative;
  overflow: hidden;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
  font-size: 34px;
  margin-top: 20px;
}
.card-pie-chart{
  margin-top: -35px;
}
.footer-ui-card{
  background-color: white;
  position: absolute;
  height: 30px;
  padding-top:5px;
  bottom: 23px;
  width: 100%;
  text-align: center;
}
.ui-card{
  background-color: #e4eef6;
}
