.node-list{
  min-height: 74px;
}

.node-list-last{


}
.node-item-container{
      display: flex;
      width: 100%;
}
.avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: plum;
  text-align: center;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  vertical-align: middle;
  margin: auto 30px;
  color:white;
}
.client-list-container{
  margin: 50px;
}
.divider{
  margin-top: 37px;
}
.node-details{
  width: 100%;
  margin: auto 100px;
}
.expansion-panel-user{
  width: 100%;
  box-shadow: none !important;
    min-height: 74px;
}
.mat-expansion-panel-header{
    min-height: 74px;
}
.actions-container{
  justify-content: flex-end;
  width: 50px;
  margin: auto 30px;
}
.p-node-list{
      flex: 1;
}

.container-cards{
  display: flex;

}
.container-cards mat-card{
  flex-grow: 1;
  margin: 30px;
  text-align: center;
  }
.ng-hide{
  display: none;
}
.import-valves-card-footer{
  margin-bottom: 20px;
}
h1{
  text-align: center;
  margin-top: 20px;
}

.create-valve-form-container{
  width: 400px;
  display: flex;
  flex-direction: column;
  border-left: 2px solid whitesmoke;
}
.create-valve-form-container mat-form-field{
  margin: 20px 50px;
}
.form-container{
  /*width: 200px;*/
  height: 100vh;
  position: fixed;
  top:0;
  right: 0;

}
::ng-deep .mat-drawer-content{
  width: auto;
}
