<div class="container-cards" *ngIf="userService.user.type == 'admin' || userService.user.type == 'user'">

  <mat-card class="create-valve-card">
    <mat-card-title class="create-valve-card-top" >Create a groupe</mat-card-title>
    <mat-card-content class="create-valve-card-content">

    </mat-card-content>
    <mat-card-footer class="create-valve-card-footer">
      <button mat-raised-button color="primary" (click)="shouldRun=true; initForm(); groupForm.toggle(); groupFormShadow = true">Create</button>
    </mat-card-footer>
  </mat-card>

  <mat-card class="import-valves-card">
    <mat-card-title class="import-valves-card-top" >Create a user</mat-card-title>
    <mat-card-content class="import-valves-card-content">
    </mat-card-content>
    <mat-card-footer class="import-valves-card-footer">
      <button mat-raised-button color="primary" (click)="shouldRun=true; initForm(); userForm.toggle(); userFormShadow = true">Create</button>
      <input id="input-file-id" type="file" class="upload" (change)="changeListener($event.target.files)" class="ng-hide">
    </mat-card-footer>
  </mat-card>
</div>

<mat-card class="client-list-container">
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding class="node-list">

      <button mat-icon-button disabled></button>
      <mat-expansion-panel class="expansion-panel-user">
        <mat-expansion-panel-header>
            <div class="node-item-container">
                <div class="avatar" *ngIf="node.filename">{{node.filename.substring(0, 1).toUpperCase()}}</div>
                  <div class="avatar" *ngIf="node.firstname && node.lastname">{{node.firstname.substring(0, 1).toUpperCase()}} {{node.lastname.substring(0, 1).toUpperCase()}} </div>
                <p class="p-node-list">{{node.firstname}} {{node.lastname}} at {{node.company}}  </p>
                <div class="actions-container" *ngIf="userService.user.type == 'admin' || userService.user.type == 'user'">
                      <button  (click)="editClient(node, $event)" mat-button>Edit</button>
                      <button  (click)="deleteClient(node, $event)" mat-button>Delete</button>
                </div>
            </div>
        </mat-expansion-panel-header>

        <div class="node-details" *ngIf="node.holding || node.phone || node.address || node.email || node.nTVA">
          <p *ngIf="node.holding">holding: {{node.holding}}</p>
          <p *ngIf="node.phone">tel: {{node.phone}}</p>
          <p *ngIf="node.address">adresse: {{node.address}}</p>
          <p *ngIf="node.email">email: {{node.email}}</p>
          <p *ngIf="node.nTVA">N° de TVA Intracommunautaire: {{node.nTVA}} </p>
        </div>


      </mat-expansion-panel>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node;when: hasChild"  matTreeNodePadding class="node-list">
      <button mat-icon-button matTreeNodeToggle
              [attr.aria-label]="'toggle ' + node.filename">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      <div class="node-item-container">
          <div class="avatar">{{node.filename.substring(0, 1).toUpperCase()}}</div>
          <p class="p-node-list">{{node.filename}}   </p>
          <div class="actions-container" *ngIf="userService.user.type == 'admin' || userService.user.type == 'user'">
                <button  (click)="editGroup(node, $event)" mat-button>Edit</button>
                <button  (click)="deleteGroup(node, $event)" mat-button>Delete</button>
          </div>
      </div>
      <mat-divider class="divider"  [ngStyle]="{'margin-left': node.level * 40 + 'px', 'width': 'calc(100% - ' + node.level * 80  + 'px)'}" matTreeNodePadding></mat-divider>
    </mat-tree-node>
  </mat-tree>
</mat-card>


<div class="shadow" *ngIf="userFormShadow" (click)="userForm.toggle(); userFormShadow = false"></div>
<mat-drawer-container class="form-container" autosize>
  <mat-drawer #userForm class="example-sidenav" mode="side" >
    <form (ngSubmit)="onSubmitUser()" [formGroup]="formUser" >
      <ng-container *ngIf="shouldRun">
        <h1>Create user</h1>
        <div class="create-user-form-container">
          <mat-form-field>
            <input matInput placeholder="Prenom" formControlName="firstname" required>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Nom" formControlName="lastname" required>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Numero client"  formControlName="number" required>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Entreprise"  formControlName="company" required>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Type" formControlName="type" required>
              <mat-option value="admin">Administrateur</mat-option>
              <mat-option value="user">Utilisateur</mat-option>
              <mat-option value="reader">Lecteur</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Adresse"  formControlName="address" required>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="email"  formControlName="email" required>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Téléphone"  formControlName="phone" required>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="n°TVA"  formControlName="nTVA" required>
          </mat-form-field>

          <!-- <div >{{formUser.valid}}</div> -->
          <button mat-raised-button color="primary" [disabled]="!formUser.valid" >Créer</button>
        </div>
    </ng-container>
  </form>
  </mat-drawer>


</mat-drawer-container>


<div class="shadow" *ngIf="groupFormShadow" (click)="groupForm.toggle(); groupFormShadow = false"></div>
<mat-drawer-container class="form-container" autosize>
  <mat-drawer #groupForm class="example-sidenav" mode="side" >
    <form (ngSubmit)="onSubmitGroup()" [formGroup]="formGroup" >
      <ng-container *ngIf="shouldRun">
        <h1>Create groupe</h1>
        <div class="create-group-form-container">

          <mat-form-field>
            <input matInput placeholder="Nom" formControlName="name" required>
          </mat-form-field>

          <!-- <div >{{formGroup.valid}}</div> -->
          <button mat-raised-button color="primary" [disabled]="!formGroup.valid" >Créer</button>
        </div>
    </ng-container>
  </form>
  </mat-drawer>


</mat-drawer-container>
