<mat-card class="create-valve-card">
  <mat-card-title class="create-valve-card-top" >Create a valve</mat-card-title>
  <mat-card-content class="create-valve-card-content">

  </mat-card-content>
  <mat-card-footer class="create-valve-card-footer">
    <button mat-raised-button color="primary">Primary</button>
  </mat-card-footer>
</mat-card>

<mat-card class="import-valves-card">
  <mat-card-title class="import-valves-card-top" >import group of valves</mat-card-title>
  <mat-card-content class="import-valves-card-content">
 CSV
  </mat-card-content>
  <mat-card-footer class="import-valves-card-footer">
    <button mat-raised-button color="primary">Primary</button>
  </mat-card-footer>
</mat-card>

<ui-table [table]="historic"></ui-table>
