<mat-tab-group>
  <mat-tab label="Détails">
    <div class="detail-container">
      <div class="card-container">
        <ui-card *ngFor="let card of detail_cards" [card]="card"></ui-card>
      </div>
      <mat-card class="valve-management-card">
        <mat-card-title class="valve-management-card-top" >Gestion des parcs</mat-card-title>
        <mat-card-content class="valve-management-card-content">
          <h2>tout les parcs</h2>
          <p>Parc 1</p>
          <p>Parc 2</p>
        </mat-card-content>
        <mat-card-footer class="valve-management-card-footer">
          <button mat-raised-button color="primary">Primary</button>
        </mat-card-footer>
      </mat-card>

    </div>
    <mat-card class="valve-chart-card">
    <div [chart]="chart" class="line-chart"></div>
    </mat-card>
  </mat-tab>
  <mat-tab label="Historique">
    <mat-card class="valve-management-card">
      <mat-card-title class="valve-management-card-top" >Gestion des parcs</mat-card-title>
      <mat-card-content class="valve-management-card-content">
        <h2>tout les parcs</h2>
        <p>Parc 1</p>
        <p>Parc 2</p>
      </mat-card-content>
      <mat-card-footer class="valve-management-card-footer">
        <button mat-raised-button color="primary">Primary</button>
      </mat-card-footer>
    </mat-card>
    <ui-table [table]="historic"></ui-table>
  </mat-tab>
  <mat-tab label="Actions">
    <div class="detail-container">
      <div>
        <div class="card-container">
          <ui-card *ngFor="let card of action_cards" [card]="card"></ui-card>
        </div>
        <mat-card class="valve-actions-card">
          <form class="example-form">
            <div class="flex-interne-card" *ngFor="let action of actions">
                <p>{{action.name}}</p>
                <button mat-raised-button >
                  <mat-form-field>
                    <mat-select placeholder="{{action.actions[0].viewValue}}" [formControl]="actionsCtrl">
                      <mat-option *ngFor="let option of action.actions" [value]="option.value">
                        {{ option.viewValue }}
                      </mat-option>
                    </mat-select>
                    </mat-form-field>
                </button>
            </div>
          </form>
          <button mat-raised-button color="primary" class="valid-btn">Valider l'action</button>
          <mat-card-footer class="footer-ui-card">
            Actions à programmer
          </mat-card-footer>
        </mat-card>
    </div>
      <mat-card class="valve-management-card">
        <mat-card-title class="valve-management-card-top" >Gestion des parcs</mat-card-title>
        <mat-card-content class="valve-management-card-content">
          <h2>tout les parcs</h2>
          <p>Parc 1</p>
          <p>Parc 2</p>
        </mat-card-content>
        <mat-card-footer class="valve-management-card-footer">
          <button mat-raised-button color="primary">Primary</button>
        </mat-card-footer>
      </mat-card>
    </div>
    <ui-table [table]="historic"></ui-table>
  </mat-tab>
</mat-tab-group>
